fieldset.noborder { border: none; }

span.one { display: inline; }

h4 option {
  font-weight: bold;
}

div.title {
  margin-top: 0.5em; 
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
}

#hand0set, #hand1set {
    display: none;
}

ul.image_picker_selector, ul.image_picker_selector ul, ul.locimg {
    list-style-type: none;
    padding-left: 0;
}

ul.image_picker_selector ul li, ul.locimg li, ul.locimg li svg {
    display: inline;
    vertical-align: top;
}

ul.image_picker_selector ul li div {
    display: inline;
}

ul.image_picker_selector p {
    display: none;
}

ul.image_picker_selector ul li .thumbnail img {
    padding: 4px;
}

ul.image_picker_selector ul li .thumbnail.selected img {
    background-color: blue;
}

.imgdiv {
    display: inline-block;
    vertical-align: top;
}

ul.locimg {
  display: inline-block;
  margin-top: 0;
}

ul.locimg img {
    vertical-align: top;
    border: thin solid;
    padding: 0px;
}


path, ellipse {
    stroke: green;
    fill: green;
    opacity: 0;
}

path:hover, ellipse:hover {
    opacity: 0.5;
}

path.selected, ellipse.selected {
    opacity: 0.6;
    stroke: black;
}

th.signtitle {
    text-transform: capitalize;
    /* vertical-align: ;*/
    padding-right: 1em;
}

video.signvideo {
    width: 60%;
}

noscript div {
    border: thick solid red;
    font-weight: bold;
    font-size: 125%;
}

svg { border: thin solid; }

.two, .moving { display: none; }
